.forms {
  width: 400px;
  height: 400px;

  margin: 150px 400px;
}
.title {
  font-size: 600;
  font-family: sans-serif;
  text-align: center;
}
.confirm {
  width: 200px;
  display: block;

  margin-top: 30px;
  margin-left: 95px;
}
.btns {
  display: block;
  width: 120px;
  height: 40px;
  background-color: aqua;
  margin-top: 40px;
  margin-left: 140px;
}
